
header {
    width: 100%;
    background-color: #000000c7;
    color: #856404;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    overflow: hidden;
}

hgroup {
    width: 60%;
    float: left;
}

    hgroup h1 {
        padding-top: 0;
        font-size:2em;
        line-height: 1em;
    }

    hgroup h2 {
        text-transform: uppercase;
        font-size: 1em;
        line-height: 1em;
    }

nav {
    width: 40%;
    float: right;
    color: #5DADE2;
    padding-top: 2rem;
}

ul {
    list-style-type: none;
}

nav li {
    float: left;
    margin-right: 20px;
}

#banner {
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 0;
    position: relative;
    background-color: #71CC98;
    /* min-height: 768px; */
}
#banner-fixed {
    /*top: 0;*/
    left: 0;
    right: 0;
    padding: 25px 0 150px 0;
}
.grid-container {
    max-width: 75rem;
    margin: 0 auto;
}
.grid-container, .grid-container.fluid {
    padding-right: .9375rem;
    padding-left: .9375rem;
}
.align-center {
    justify-content: center;
}
.grid-x {
    display: flex;
    flex-flow: row wrap;
}
.intro-text {
    padding: 0 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    background: none;
}
.cell {
    /*-ms-flex: 0 0 auto;*/
    flex: 0 0 auto;
    min-height: 0;
    min-width: 0;
    width: 100%;
}
.intro-text-wrap {
    width: 100%;
}
.full-banner .intro-text h1, .full-banner .intro-text .content-type {
    color: #FFF;
}
.intro-text h1, .intro-text .content-type {
    text-transform: uppercase;
    font-size: 1em;
    /*color: #004F59;*/
    letter-spacing: 5px;
    font-weight: bold;
    font-family: 'modesto-text';
}
h1 {
    margin: 0 0 30px;
}
.full-banner .intro-text h2, .full-banner .intro-text h1.no-h2 {
    text-shadow: 0 0 5px rgba(0, 0, 0, .5);
}
.intro-text h2, .intro-text .article-headings h1, .intro-text h1.no-h2 {
    font-family: 'bourbon';
    font-size: 2em;
    font-weight: normal;
    margin: 40px 0;
    color: sienna;
    letter-spacing: 3px;
}
.intro-text .intro-text-wrap p {
    font-size: .8em;
    letter-spacing: 1px;
    line-height: 2;
    padding: 5%;
    margin: 0;
    text-rendering: optimizeLegibility;
    color: #FFF;
    font-style:italic;
    font-weight:bold;
    background-color: rgba(0, 0, 0, 0.47);
}

#content {
    position: relative;
    z-index: 2;
    background: #FFF;
    box-shadow: 0 0 4px rgba(0, 0, 0, .25);
}
#plan-your-visit {
    background: #ECF6F7;
}
.medium-up-2 > .cell {
    width: 50%;
}
#plan-your-visit .card {
    background: transparent;
    color: #584446;
}
.card{
    display: flex;
    align-self: flex-end;
    text-align: center;
    padding: 20px;
    height: 100%;
    overflow: hidden;
     min-height: 250px;
    position: relative;
    z-index: 1;
    transition: all .3s ease;
    outline: none;
    text-decoration: none;
}
.card-info {
    width: 100%;
    display: block;
    align-self: center;
    transition: all .3s ease;
    margin: 0 auto;
    font-size: .85em;
}
#plan-your-visit .card img {
    margin-bottom: 15px;
}
.card img.medium-size {
    max-width: 64px;
}
.card img {
    margin-top: 25px;
}

footer {
    width: 100%;
    background-color: #000000c7;
    color: #856404;
    margin-right: auto;
    margin-left: auto;
    height: 106px;
    padding: 10px;
}