
header {
    width: 100%;
    background-color: #000000c7;
    color: #856404;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    overflow: hidden;
}

hgroup {
    width: 60%;
    float: left;
}

    hgroup h1 {
        padding-top: 0;
        font-size:2em;
        line-height: 1em;
    }

    hgroup h2 {
        text-transform: uppercase;
        font-size: 1em;
        line-height: 1em;
    }

nav {
    width: 40%;
    float: right;
    color: #5DADE2;
    padding-top: 2rem;
}

ul {
    list-style-type: none;
}

nav li {
    float: left;
    margin-right: 20px;
}
main {
    font-family: verdana, Helvettica, sans-serif;
    font-size: 85%;
    width: inherit;
    margin: 0 auto;
    padding: 10px;
    background-color: aliceblue;
    border: 2px solid;
}
#banner {
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 0;
    position: relative;
    background-color: #71CC98;
    /* min-height: 768px; */
}

#banner-fixed {
    /*top: 0;*/
    left: 0;
    right: 0;
    padding: 25px 0 150px 0;
}

.grid-container {
    max-width: 75rem;
    margin: 0 auto;
}

    .grid-container, .grid-container.fluid {
        padding-right: .9375rem;
        padding-left: .9375rem;
    }

.align-center {
    justify-content: center;
}

.grid-x {
    display: flex;
    flex-flow: row wrap;
}

.intro-text {
    padding: 0 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    background: none;
}

.cell {
    /*-ms-flex: 0 0 auto;*/
    flex: 0 0 auto;
    min-height: 0;
    min-width: 0;
    width: 100%;
}

.intro-text-wrap {
    width: 100%;
    background-color: #00000080;
    height: 100%;
}

.full-banner .intro-text h1, .full-banner .intro-text .content-type {
    color: #FFF;
}

.intro-text h1, .intro-text .content-type {
    text-transform: uppercase;
    font-size: 2em;
    /*color: #004F59;*/
    letter-spacing: 5px;
    font-weight: bold;
    font-family: 'modesto-text';
    padding-top: 10px;
}

h1 {
    margin: 0 0 30px;
}

.full-banner .intro-text h2, .full-banner .intro-text h1.no-h2 {
    text-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.intro-text h2, .intro-text .article-headings h1, .intro-text h1.no-h2 {
    font-family: 'bourbon';
    font-size: 1em;
    font-weight: normal;
    margin: 1   0px 0;
    color: sienna;
    letter-spacing: 3px;
}

.intro-text .intro-text-wrap p {
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 1;
    padding: 1%;
    margin: 0;
    text-rendering: optimizeLegibility;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.47);
}

#logo {
    vertical-align: middle;
    border-style: none;
    padding-top: 10px;
}

footer {
    width: 100%;
    background-color: #000000c7;
    color: #856404;
    margin-right: auto;
    margin-left: auto;
    height: 106px;
    padding: 10px;
}